* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgb(11, 28, 60);
  border-radius: 0 0 30px 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}

.logo {
    font-size: 26px;
    background: url("imgs/gold3.jpg");
    background-size: cover;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

.logo span {
    font-size: 24px;
    color:#d2fafe;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: auto 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a.active {
  color: #17b8d5;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0 0 2px #a1eefb;
}

nav ul li a:hover {
  color: #17b8d5;
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  background: url("imgs/gold.jpg");
  background-size: cover;
  color: #0b1c3c;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  transition: 0.3s;
}

.btn:hover {
  background: #0b1c3c;
  color: #ffd700;
  font-size: 1.3em;
  box-shadow: 2px 4px 7px #ffd700;
}

.home {
  position: relative;
  height: 100vh;
  background: url('imgs/bg1_img.jpg') top center/cover no-repeat;
  padding: 175px 0 50px 0;
  overflow: hidden;
  margin: 0;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, 
  rgba(11, 28, 60, 0.0) 60%, 
  rgba(11, 28, 60, 1.0) 90%, 
  rgba(11, 28, 60, 1.0) 100%
  );
}

.home-text {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container {
  position: relative;
  margin: 40px auto;
  max-width: 1100px;
  display: flex;
  gap: 20px;
}

.poster img {
  width: 250px;
  filter: drop-shadow(0 0 25px rgba(255, 185, 65, 0.7)) ;
}

.hcontent {
  flex: 1;
  padding: 20px;
  background: rgba(0, 17, 40, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.9);
  color: #ffffff;
  text-shadow: 0 0 10px #000000;
}

.description {
  font-weight: 700;
  margin: 15px 0;
}

.content{
  background: linear-gradient(
  #0b1c3c 0%,
  #0b1c3c 30%,
  #0b293c 40%,
  rgb(31, 77, 79) 55%,
  #c89f53 100%
);
}


#features {
  padding: 10px;
  text-align: center;
}

.feature-text{
    display: inline-block;
    box-shadow: 3px 3px 5px 2px rgba(255, 192, 82, 0.4);
    padding: 5px;
    width: 300px;
    height: 40px;
    border-radius: 50%;
    color: #d2fafe;
    background-color:#10264d ;
    margin-bottom: 30px;
}


.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.img-holder {
  display: flex;
  border-radius: 50px 10px;
  background: url("imgs/logo.png");
  transition: 0.6s;
}

.cards{
  background-color: #00000000;
  border-radius: 50px 10px;
  width: 275px;
  padding: 20px;
  color: #ffffff;
  text-align: left;
  text-shadow: 0 0 10px #000000;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  transition: 0.2s;
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 5px 3px 10px 5px rgba(255, 192, 82, 0.4);
}

.heading{
  font: 900 22px sans-serif;
  margin: 15px 2px 20px 2px;
  color: #ffd700;
}
.sub-heading {
  font: 700 20px sans-serif;
  text-align: left;
  margin: 10px 0px 10px 0px;
  color: #a1eefb;
}

#sales {
  text-align: center;
  padding: 50px 20px;
  max-width: 700px;
  margin: 70px auto 0;
}

.text-wrapper {
  background-color: #0b1c3c;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(11, 28, 60, 0.6);
  margin: 50px;
}

#sales-text {
  font-size: 52px;
  font-weight: 800;
  background: url("imgs/gold.jpg");
  background-size: cover;
  background-clip: text;
  color: transparent;
  text-shadow: 0 2px 12px rgba(255, 223, 0, 0.25);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.bar-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.bar-label {
  color: #d2fafe;
  width: 30px;
  text-align: right;
  margin-right: 70px;
  font-weight: bold;
}
.bar-wrapper {
  flex: 1;
  background-color: #f4e3b266;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 30px;
}
.bar {
  height: 100%;
  background:#1f4d4f;
}
.bar-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color:#a1eefb;
}