* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgb(16, 38, 77);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}

.logo {
    font-size: 26px;
    color:#ffd700;
    font-weight: 900;
}

.logo span {
    font-size: 24px;
    color:#d2fafe;
    
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a.active {
  color: #17b8d5;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0 0 2px #a1eefb;
}

nav ul li a:hover {
  color: #17b8d5;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  background: #ffd700;
  color: #0b1c3c;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ffc107;
}

.home {
  position: relative;
  height: 100vh;
  background: url('imgs/bg1_img.jpg') top center/cover no-repeat;
  background-position-y: 30px;
  padding-top: 150px;
  padding-bottom: 50px;
  overflow: hidden;
  z-index: 2;
}

.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, 
  rgba(11, 28, 60, 0.0) 60%, 
  rgba(11, 28, 60, 1.0) 90%, 
  rgba(11, 28, 60, 1.0) 100%
  );
  z-index: 3;
}

.home-text {
  position: relative;
  z-index: 4;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.container {
  position: relative;
  margin: 40px auto;
  max-width: 1100px;
  display: flex;
  gap: 20px;
  z-index: 5;
}
.poster img {
  width: 250px;
  box-shadow: 0 4px 15px rgba(255, 192, 82, 0.4);
  border-radius: 8px;
}
.hcontent {
  flex: 1;
  padding: 20px;
  background: rgba(0, 17, 40, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  color: #ffffff;
  text-shadow: 0 0 7px #000000;
}
.description {
  font-weight: 700;
  margin: 15px 0;
}

.content{
  background: linear-gradient(
  #0b1c3c 0%,
  #0b1c3c 30%,
  #0b293c 40%,
  #1f4d4f 55%,
  #c89f53 100%
);
}


#features {
  padding: 10px;
  text-align: center;
}

.feature-text{
    display: inline-block;
    box-shadow: 3px 3px 5px 2px rgb(1, 123, 171);
    padding: 5px;
    width: 300px;
    height: 40px;
    border-radius: 50%;
    color: #a1eefb;
    background-color:rgba(0, 36, 47, 0.5) ;
    margin-bottom: 30px;
}


.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.cards{
  border-radius: 30px;
  width: 250px;
  padding: 20px;
  color: #ffffff;
  text-align: left;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  transition: 0.3s;
}

.cards:hover {
  transform: translateY(-10px);
  box-shadow: 5px 3px 10px 5px rgba(1, 123, 171, 0.5);
}

.heading{
  font: 900 22px sans-serif;
  margin: 15px 2px 20px 2px;
  color: #ffd700;
}
.sub-heading {
  font: 700 20px sans-serif;
  text-align: left;
  margin: 10px 0px 10px 0px;
  color: #a1eefb;
}

#sales {
  text-align: center;
  padding: 50px 20px;
  max-width: 700px;
  margin: 70px auto 0;
}

#sales-text {
  display: inline-block;
  color: #000000;
  text-shadow: 0 0 1px rgb(0, 85, 85), 0 0 15px rgba(0, 255, 255, 0.8);
  font-weight: 900;
  margin-bottom: 30px;
  padding: 7px 25px;
  background-color: rgba(0, 160, 246, 0.1);
  border-radius: 15px;
  box-shadow:  0 0 2px rgb(0, 141, 141), 0 0 5px rgb(53, 66, 255), 0 0 10px rgba(0, 255, 255,0.5);
  }

  .bar-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .bar-label {
    color: #a1eefb;
    width: 30px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
  }
  .bar-wrapper {
    flex: 1;
    background-color: rgba(0, 68, 86, 0.4);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 30px;
  }
  .bar {
    height: 100%;
    background:#001b91;
  }
  .bar-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color:#a1eefb;
  }